<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/xfrym/Documents/LIGHT/LightSearch/Standard Edition/LightSearch Updater/src/test/java/lightsearch/updater/apk"><classes><class name="lightsearch.updater.apk.APKSaverTestNG"><methods><include name="saveAPK"/></methods></class><class name="lightsearch.updater.apk.APKTestNG"><methods><include name="setAndGetAPKName"/><include name="setAndGetVersion"/><include name="setAndGetContent"/></methods></class><class name="lightsearch.updater.apk.APKVersionCreatorTestNG"><methods><include name="createNewVersion"/></methods></class><class name="lightsearch.updater.apk.APKVersionsUploaderTestNG"><methods><include name="uploadVersions"/></methods></class></classes></test></suite>