<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body {
         background-color: rgba(157, 205, 255, 90);
        }
    </style>
</head>
<body>
<h1 align="center"> <img src="img/logo.png" width="200" height="200"> </h1>
<h2 align="center">
    <form action="">
        <input type="submit" value="Submit">
    </form>
    <input type="text" name="">
    <font color="white">Something went wrong!</font> </h2>
<h3 align="center"> <font color="white">Try again later</font> </h3>
</body>
</html>